## DevWeb
# DevWeb results folders
results/
# DevWeb codegen folder
codegen/
# DevWeb log
lr?_uploader.log

*.sdf
combined_*.c
ThumbnailsCache.tmp
*.bak
pre_cci.c
*.ci
*.idx
*.c.pickle
mdrv_cmd.txt
options.txt

## LOGS
*.log


## VuGen Results folder
result*/
*.idx
*.bak
pre_cci.c
combined_*
*.ci

## Truclient
resultSnap
replay.har
shunra.shunra





# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
